.venv
# Ignore adapter and data folders
GLiNER2_Hagiographics/Hagiography_adaptor_*
GLiNER2_Hagiographics/adapter*
GLiNER2_Hagiographics/data_*
/GLiNER2_BelHisFirm/BelHisFirm_adaptor/
/GLiNER2_BelHisFirm/data/
/GLiNER2_Hagiographics/Hagiography_adaptor/
